@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Logo";
  src: url("/fonts/Logo.ttf");
}

html {
  background-color: #151515;
  color: white;
  margin: 0;
  padding: 0;
}

.logo {
  background: #FFB76B;
background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}

.sub-head {
  background: #C6FFDD;
  background: linear-gradient(to right, #C6FFDD 0%, #FBD786 50%, #f7797d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.select{
  color: #151515;
}

